<% content_for(:html_title) { "Review Order" } %>

<h3 class="title is-4 mt-6">Your order with <%= pluralize @current_order_size, "item" %> has been created!</h3>

<div class="mt-4 ml-4">
    <p>
        <%= link_to "Pay now", "#" %> or <%= link_to "Continue to shop", root_path %>
    </p>
    
    <p class="mt-4 mb-6">
        <%= link_to ">> Review your orders", orders_path %>
    </p>
</div>
