<div class="column is-6 mt-6">
    <div class="card">
        <div class="columns is-variable is-3">
            <div class="column">
                <% if book.image.present? %>
                    <div>
                        <figure class="image">
                            <%= image_tag book.image %>
                        </figure> 
                    </div>
                <% end %>
            </div>
            
            <div class="column mt-5 mb-3 mr-3 ml-3">
                <p class="title is-6">
                    <%= link_to book.title, book %>
                </p>
                <p class="mt-5">
                    by <strong><%= book.author %></strong>
                </p>
                <p class="mt-2">
                    at <%= ActiveSupport::NumberHelper.number_to_currency(book.price) %>
                </p>
            </div>
        </div>
    </div>
</div>