<h2 class="title is-3">Available Books</h2>

<div class="columns is-multiline is-centered is-variable is-8">
    <% @books.each do |book| %>
        <%= render partial: 'book', object: book %>
    <% end %>
</div>
