<h3 class="title is-3">Books On Sale</h3>

<p class="is-size-6 is-italic">
    Tags: <%= link_to "new", books_new_path %>, 
    on sale, 
    <%= link_to "recently updated", books_recentlyupdated_path %>
</p>

<div class="columns is-multiline is-centered is-variable is-8">
    <% @sale_books.each do |book| %>
        <%= render partial: 'book', object: book %>
    <% end %>
</div>
